:root{
    --blue-color:#51b9e5;
}
body{
    overflow-x: hidden;
}
html::-webkit-scrollbar { width: 12px; height: 12px; }
html::-webkit-scrollbar-track { background: #f1f1f1; }
html::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
  border: 3px solid #f1f1f1; 
  background-clip: content-box;
}
.btn-portfolio{
    width: 250px;
    border-radius: 50px;
    border: none;
    background-color: var(--blue-color);
    font-weight: bold;
    color: white;
    transition: all 0.5s linear;
    font-size: 15px;
    margin: 30px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid var(--blue-color);
}
.btn-portfolio:hover{
    background-color: transparent;
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
}
.font-poppins{
    font-family: "Poppins", sans-serif;
}
.container-fluid{
    --bs-gutter-x: 0 !important;
}
.top-head{
display: flex;
justify-content: space-between;
}
.main-logo{
    width: 200px;
}
.cards-hero{
    height: 500px;
    background-blend-mode:color-dodge ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.cards-hero:nth-child(1){
    background: url('./media/digitizing_1.png'),linear-gradient(to bottom,transparent,black);
    background-repeat: no-repeat;
    background-size: cover;
}
.cards-hero:nth-child(2){
    background: url('./media/vector3.png'),linear-gradient(to bottom,transparent,black);
    background-repeat: no-repeat;
    background-size: cover;
}
.cards-hero:nth-child(3){
    background: url('./media/patches3.png'),linear-gradient(to bottom,transparent,black);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-hero p{
 font-size: 14px;
 padding: 10px 5px;
}
.cards-hero > h3{
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid white !important;
}
.marquee {
    width: 100%;
    overflow: hidden;
    background-color: #cfe7f2 !important;
    white-space: nowrap;
}

.marquee-track {
    display: flex;
    align-items: center;
    animation: marqueeMove 20s linear infinite alternate;
}

.marquee-track p {
    margin: 0 20px;
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}

.marquee-track span {
    font-size: 50px;
    color: var(--blue-color) !important;
}

@keyframes marqueeMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.text-blue{
    color: var(--blue-color);
}
.slick-prev::before{
    color: black !important;
    padding: 30px;
}
.w-gallery-img{
    width: 100%;
}



.img-gallery {
    transition: all 0.7s linear;
    display: inline-block;
    background-color: rgb(243, 240, 240);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.img-gallery:hover{
    transform: scale(1.01);
    box-sizing: 10px 10px;
}
.slick-next{
    padding: 30px;
    background-color: black;
}
.slick-next:before {
    font-family: 'slick';
    font-size: 50px !important;
    position: absolute !important;
    bottom: -230px !important;
    left: -700px;
    line-height: 1;
    opacity: .75;
    color: var(--blue-color) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
    font-family: 'slick';
    font-size: 50px !important;
    position: absolute !important;
    bottom: -260px !important;
    left: 580px;
    line-height: 1;
    opacity: .75;
    color: var(--blue-color) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-service img{
    width: 100px;
    height: 100px;
}
.card-service h5{
color: var(--blue-color);
margin: 20px 10px;
font-weight: 400;
}
.card-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 30px 10px;
    border-radius: 20px;
    border: solid var(--blue-color);
    border-width: 1px 3px 3px 1px;
}
.marquee-track:hover{
    animation-play-state: paused;
}
.bg-package-sec{
    background: url('./media/bg-package-sec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.card-package{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:570px) {
    .top-head span:nth-child(1){
        display: none;
    }
    .main-logo{
        width: 100px;
    }
}